html,

body {

    font-family: "raleway",sans-serif;
    margin: auto;
    padding: 0;
    height: 100%;
    max-width: 1366px;

}

body {
    display: flex;
    flex-direction: column;
}

/* code css pour header */

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;

     }
     
 nav img {
     height: 40px;
     margin: 4px 0 0 20px;
 }
     
nav ul {
    display: flex;
    list-style-type: none;
    margin-right: 30px;
}

nav li {
    
    margin: 30px 90px 0 0;
   
}
/* code css pour main */

main {
    flex: 1;
    outline: 1px solid black;
    padding: 10px;
}

/* search bar */
  
.search-item {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 0 35px 0;
  }
  
  .fa-stack-search {
    text-align: center;
    border-radius: 15px 0 0 15px;
    width: 45px;
    height: 42px;
    background: #F2F2F2;
  }

  .search-item i {
    margin: 11px 0 0 3px;
  }

  input {
    width: 250px;
    height: 35px;
    outline: none;
    border: #000;
    font-size: 15px;
    border-top: 2.5px solid #F2F2F2;
    border-bottom: 2.5px solid #F2F2F2;
    padding-left: 10px;
  }
  
  .searchTerm:focus{
    color: #000;
  }
  
  button {
    height: 42px;
    width: 120px;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid transparent;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: white;
  }

  /* Filters */
  



#filter-items {
    display: flex;

}

#filter-items h2 {
    font-size: 15px;
}

.icon-background {
    color: #DEEBFF;
}
.fa-stack { 
    font-size: 1.2em;
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
    width: 2em;
    
}
.filter-item i { 
    vertical-align: middle; 
}
.fa-money-bill-wave {
    font-size: 0.7em;
    color: #0065FC;
}

.filter-item {
    display: flex;
    align-items: center;
    border-top: 2.5px solid #DEEBFF;
    border-right: 2.5px solid #DEEBFF;
    border-bottom: 2.5px solid #DEEBFF;
    height: 35px;
    width: fit-content;
    border-radius: 20px;
    margin: 0 0 0 20px;

}

.text-filter {
    
    font-weight: 700;
    font-size: 14px;
    margin: 0 15px 0 10px;
}

.fa-child {
    font-size: 0.7em;
    color: #0065FC;
}

.fa-heart {
    font-size: 0.7em;
    color: #0065FC;
}

.fa-dog {
    font-size: 0.7em;
    color: #0065FC;
}

/* texte nombre resultat */

#nbresult {
    display: flex;
    padding: 35px 0 0 0;
}

#nbresult i {
    font-size: 12px;
    display: inline-block;
    border-radius: 20px;
    padding: 0.5em 0.8em;
    color: #0065FC;
    box-shadow: 0px 0px 2px #888;
}


#nbresult p {
    margin: 5px 0 0 10px;
}


/* block main */

.selection-2 {
    display: flex;
    border: 1px red solid;

}

.large-block {
    border: 1px green solid;
    width: fit-content;
}

/* block left medium & small */

.medium-block-left {
    display: flex;
    flex-wrap: wrap;
    border: 1px blue solid;
    margin: 10px;
    padding: 10px;
    width: 800px;

}

.small-block-left {
    padding: 10px;
    width: 230px;
    height: 180px;
    border: 1px purple solid;
   
}

.small-block-left img {

    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* block right medium & small*/

.medium-block-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px blue solid;
    margin: 10px;
    padding: 10px;
    width: fit-content;
}

.small-block-right {
    padding: 10px;
    width: 280px;
    height: 120px;
    border: 1px purple solid
}

.small-block-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* block bottom medium & small*/

.medium-block-bottom {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px blue solid;
    margin: 10px;
    padding: 10px;
    width: 1120px;
    height: 405px;
}

.small-block-bottom-v1 {
  
    width: 280px;
    height: 402px;
    border: 1px purple solid;
   
}

.small-block-bottom-v2 {
    
    width: 280px;
    height: 200px;
    border: 1px purple solid;
  
}

.small-block-bottom-v3 {
    width: 280px;
    height: 200px;
    border: 1px purple solid;
  
}

.small-block-bottom-v4 {
    width: 280px;
    height: 200px;
    border: 1px purple solid;
 
}

.small-block-bottom-v5 {
    width: 280px;
    height: 200px;
    border: 1px purple solid;
    
}

.small-block-bottom-v6 {
    width: 280px;
    height: 200px;
    border: 1px purple solid;
    
}

.medium-block-bottom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* code css pour footer*/

footer {
   background-color: #F2F2F2;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 #footer-items {
     width: 100%;
     display: flex;
     justify-content: space-around;

 }

 footer h4 {
     font-size: 17px;
 }

 .footer-item ul {
     padding: 0;
 }

 .footer-item li {
    list-style-type: none;
    padding: 0 0 14px 0;
 }
/* code media queries*/

