html,

body {

    font-family: "raleway",sans-serif;
    margin: auto;
    padding: 0;
    height: 100%;
    max-width: 1366px;

}

body {
    display: flex;
    flex-direction: column;
}

/* code css pour header */

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;

     }
     
 nav img {
     height: 40px;
     margin: 4px 0 0 20px;
 }
     
nav ul {
    display: flex;
    list-style-type: none;
    margin-right: 30px;
}

nav li {
    
    margin: 30px 90px 0 0;
   
}
/* code css pour main */

main {
    flex: 1;
    outline: 1px solid black;
    padding: 10px;
}

/* search bar */
  
  .search {
    width: 100%;
    display: flex;
    align-self: center;
    margin: 0 0 35px 0;
  }
  
  .pin {
    text-align: center;
    border-radius: 15px 0 0 15px;
    width: 40px;
    height: 40px;
    background: #F2F2F2;
  }

  .search i {
    margin: 11px 0 0 0;
  }

  .searchTerm {
    width: 200px;
    padding: 5px;
    height: 26px;
    outline: none;
    border: #000;
    font-size: 15px;
  }
  
  .searchTerm:focus{
    color: #000;
  }
  
  .searchButton {
    width: 150px;
    height: 40px;
    border: 1px solid #0065FC;
    background: #0065FC;
    text-align: center;
    color: #fff;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    font-size: 18px;
  }

  /* Filters */
  

#filters-items {
    display: flex;

   
}

.filters-item {
    display: flex;
}

.filters-item h2 {
    font-size: 17px;
}

.filters-item i {
    
    border-radius: 25px 25px 25px 25px;
    width: 40px;
    height: 40px;
    background: #DEEBFF;
    color: #0065FC;
}


.filterButton {
    width: 200px;
    height: 40px;
    margin: 0 20px 0 0;
    border: 1px solid #000;
    background: #fff;
    color: #fff;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: #000;


  }

/* texte nombre resultat */

  #nbresult {
    display: flex;
    align-items: center;
    padding: 35px 20px 0 0;
}

#nbresult i {
    display: flex;
    align-items: center;
    border-radius: 25px 25px 25px 25px;
    width: 25px;
    height: 25px;
    background: #FFF;
    color: #0065FC;
    border-color: #000;
    border: solid 1px;
}

#nbresult p {
    margin: 0 0 0 10px;
}

/* Container */

.large-block {
    border: 1px green solid;
    width: fit-content;
}


.medium-block-left {
    display: flex;
    flex-wrap: wrap;
    border: 1px blue solid;
    margin: 10px;
    padding: 10px;
    width: 760px;

}

.small-block-left {
    padding: 10px;
    width: 230px;
    height: 180px;
    border: 1px purple solid;
   
}

.small-block-left img {
    height: 150px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.medium-block-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px blue solid;
    margin: 10px;
    padding: 10px;
    width: fit-content
}

.small-block-right {
    padding: 10px;
    width: 280px;
    height: 120px;
    border: 1px purple solid
}

.small-block-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.medium-block-bottom {
    display: flex;
    flex-wrap: wrap;
    border: 1px blue solid;
    margin: 10px;
    padding: 10px;
    width: fit-content
}

.small-block-bottom {
    padding: 10px;
    width: 280px;
    height: 120px;
    border: 1px purple solid
}

.small-block-bottom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* code css pour footer*/

footer {
   background-color: #F2F2F2;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 #footer-items {
     width: 100%;
     display: flex;
     justify-content: space-around;

 }

 footer h4 {
     font-size: 17px;
 }

 .footer-item ul {
     padding: 0;
 }

 .footer-item li {
    list-style-type: none;
    padding: 0 0 14px 0;
 }
/* code media queries*/

