html,

body {
    display: flex;
    flex-direction: column;
    font-family: "raleway",sans-serif;
    margin: auto;
    padding: 0 50px 0 50px;
    height: auto;
    width: 1440px;

}


/* code css pour header */

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 20px 0;
    

     }
     
 nav img {
     height: 40px;
     margin: 15px 0 0 0;
 }
     
nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav li {
    
    margin: 10px 0 0 30px;
   
}

#inscription {
    color: #0065FC;
    font-weight: 700;
    font-size: 16px;
}
/* code css pour main */


/* text menu */

#text-menu h1 {
    font-size: 21px;
    margin: 15px 0 0 0;

}

#text-menu p {
    margin: 10px 0 0 0;
}

/* search bar */
  
.search-item {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 0 25px 0;
  }
  
  .fa-stack-search {
    text-align: center;
    border-radius: 15px 0 0 15px;
    width: 45px;
    height: 42px;
    background: #F2F2F2;
  }

  .search-item i {
    margin: 11px 0 0 3px;
  }

  input {
    width: 250px;
    height: 35px;
    outline: none;
    border: #000;
    font-size: 15px;
    border-top: 2.5px solid #F2F2F2;
    border-bottom: 2.5px solid #F2F2F2;
    padding-left: 10px;
  }
  
  .searchTerm:focus{
    color: #000;
  }
  
  .search-button {
    height: 42px;
    width: 120px;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid transparent;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: white;
  }

  /* Filters */
  



#filter-items {
    display: flex;

}

#filter-items h2 {
    font-size: 15px;
}

.icon-background {
    color: #DEEBFF;
}
.fa-stack { 
    font-size: 1.2em;
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
    width: 2em;
    
}
.filter-item i { 
    vertical-align: middle; 
}
.fa-money-bill-wave {
    font-size: 0.7em;
    color: #0065FC;
}

.filter-item {
    display: flex;
    align-items: center;
    border-top: 2.5px solid #DEEBFF;
    border-right: 2.5px solid #DEEBFF;
    border-bottom: 2.5px solid #DEEBFF;
    height: 35px;
    width: fit-content;
    border-radius: 20px;
    margin: 0 0 0 20px;

}

.text-filter {
    
    font-weight: 700;
    font-size: 14px;
    margin: 0 15px 0 10px;
}

.fa-child {
    font-size: 0.7em;
    color: #0065FC;
}

.fa-heart {
    font-size: 0.7em;
    color: #0065FC;
}

.fa-dog {
    font-size: 0.7em;
    color: #0065FC;
}

/* texte nombre resultat */

#nbresult {
    display: flex;
    margin: 20px 0 0 0;
}

#nbresult i {
    font-size: 12px;
    display: inline-block;
    border-radius: 20px;
    padding: 0.5em 0.8em;
    color: #0065FC;
    box-shadow: 0px 0px 2px #888;
}


#nbresult p {
    margin: 5px 0 0 10px;
}


/* blocks main */

#allblocks {
    border: 1px red solid;
    height: 610px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: space-between;
}

h1 {
    margin-bottom: 5px;
    font-size: 1.3em;
}

h3 {
    font-size: 1.1em;
}

/* block left  */

.large-block-left {
    border: 1px green solid;
    width: 930px;
    height: 610px;
    flex-wrap: wrap; 
   
    background-color: #F2F2F2;
    border-radius: 20px;
    
}

.medium-block-left {  
    border: 1px blue solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-around;
    width: 100%;
    height: 480px;
 }

.small-block-left {
    border: 1px purple solid;
    height: 200px;
    width: 248px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
   
}

.small-block-left img {

    display: block;
    object-fit: cover;
    object-position: center;
    height: 73%;
    border-radius: 10px 10px 10px 10px;
}


/* text-block left */

.text-block-left {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 35%;
    border-radius: 0 0 10px 10px;
    background-color: white;
    color: black;
 
  }

  .text-block-left h4 {
    margin: 0;
    padding: 10px 0 0 10px;
    line-height: 10px;
    
  }

  .text-block-left p {
    margin: 0;
    padding: 10px 0 0 10px;
    line-height: 10px;
    font-size: 14px;
    
  }

  .rating-left {
    padding: 0 0 0 10px;
    line-height: 30px;
    font-size: 12px;
 }


/* block right  */

#text-chart {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.large-block-right {
    border: 1px green solid;
    display: flex;
    flex-direction: column;
    height: 610px;
    width: 440px;
    background-color: #F2F2F2;
    border-radius: 20px;
    
}

.medium-block-right {
    border: 1px blue solid;
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
    height: 520px;
    width: 440px;
}

.small-block-right {
    border: 1px purple solid;
    height: 145px;
    width: 345px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    padding: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.small-block-right img {
    display: block;
    object-fit: cover;
    object-position: center;
    width: 125px;
    border-radius: 10px 0 0 10px;
    
}

/* text block right */

.text-block-right {
    padding: 0 0 0 20px;
    width: 62%;
    overflow: hidden;
}

.rating-right {
    line-height: 70px;
    font-size: 11px;

}

.text-block-right h4 {
    
    line-height: 20px;
    
  }

  .text-block-right p {

    line-height: 10px;
    font-size: 14px;
    
  }


/* block bottom  */

.large-block-bottom {
    border: 1px red solid;
    width: 100%;
    height: 503px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    
}


.medium-block-bottom {
    border: 1px blue solid;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
    width: 1440px;
    height: 445px;
}

.small-block-bottom1 {
    border: 1px purple solid;
    height: 445px;
    width: 305px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.small-block-bottom2 {
    border: 1px purple solid;
    height: 235px;
    width: 300px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.small-block-bottom3 {
    border: 1px purple solid;
    height: 165px;
    width: 300px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.small-block-bottom4 {
    border: 1px purple solid;
    height: 445px;
    width: 300px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.small-block-bottom5 {
    border: 1px purple solid;
    height: 195px;
    width: 300px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.small-block-bottom6 {
    border: 1px purple solid;
    height: 210px;
    width: 300px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.small-block-bottom1 img {
    
    display: block;
    object-fit: cover;
    object-position: top;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
}

.small-block-bottom2 img {
    
    display: block;
    object-fit: cover;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
}

.small-block-bottom3 img {
    
    display: block;
    object-fit: cover;
    object-position: top;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
}

.small-block-bottom4 img {
    
  
    display: block;
    object-fit: cover;
    object-position: top;
    filter: contrast(70%) brightness(145%) saturate(120%);
    height: 100%;
    border-radius: 10px 10px 10px 10px;
}

.small-block-bottom5 img {
    
    display: block;
    object-fit: cover;
    object-position: top;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
}

.small-block-bottom6 img {
    
    display: block;
    object-fit: cover;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
}


/* code css pour footer*/


footer {
   background-color: #F2F2F2;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 #footer-items {
     width: 100%;
     display: flex;
     justify-content: space-around;

 }

 footer h4 {
     font-size: 17px;
 }

 .footer-item ul {
     padding: 0;
 }

 .footer-item li {
    list-style-type: none;
    padding: 0 0 14px 0;
 }
/* code media queries*/

